
/* 
@media (min-width: 992px) {
    .navbar,
    .navbar-collapse {
      flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav {
      flex-direction: column;
    }
    .navbar {
      width: 28%;
      height: 100vh;
      align-items: flex-start;
    }
    .navbar-brand {
      margin-left: 0.5em;
      padding-bottom: 0;
      border-bottom: 4px solid #464646;
    }
    form input {
      margin-bottom: 0.7em;
    }
  } */

body{
    position: relative;
}

footer{
  position: fixed;
  bottom: 0;
}

.sidebar{
    background-color:#4F506B;
}

nav a.nav-link img {
  visibility: hidden;
}

input[type="text"], input[type="email"]  {
  background-color: #dfe4dc;
}

input[type="password"] {
  background-color: papayawhip;
}

@media (max-width:760px) {
  nav a span{
      visibility: hidden;
  }
  nav a img{
      width: 24px;
      height: 24px;
  }
  nav .nav-link{
      visibility: hidden;
      background-color: white;
  }
 
  nav a.nav-link img {
    visibility: visible;
  }

  footer{
      position: relative;
      float: left;
  }
}

@media (max-width:480px) {
  nav a span{
      visibility: hidden;
  }
  nav a img{
    width: 16px;
    height: 16px;
  }
  nav .nav-link{
    background-color: white;
    visibility: hidden;
  }
 
  nav a.nav-link img {
    visibility: visible;
  }

  footer{
      position: relative;
      float: left;
  }
}