{% extends "crm/index.html" %}


{% block title %} 
    My Contacts - {{user_id}}
{% endblock %}

{% block header %}
    <div class="row pt-3">
        <div class="col-6 col-md-8">
            <h1>My Contacts</h1> 
        </div>
        <div class="col-6 col-md-4 fs-3 text-truncate">
            <a href="contacts_insert_form/" class="btn btn-lg btn-outline-primary text-truncate b-3"> Add Contact </a>
        </div>
    </div>
{% endblock header %}

{% block content %}

{% if contacts_list %}
<ul>
    {% for c in contacts_list %}
        <li> {{c}} </li>
    {% endfor %}
</ul>
{% else %}
<p>User - {{user_id}} has no contacts </p>
{% endif %}



{% endblock content %}